<?xml version="1.0" encoding="utf-8"?>
<configs>
  <keyandvalue key="ShownModel">7360bec9-2c83-4ee8-947a-01b7e01062f6</keyandvalue>
  <keyandvalue key="PreserveLegacyFilenames"></keyandvalue>
  <keyandvalue key="ViewModelDesignerStyles">Look1</keyandvalue>
  <keyandvalue key="SelectedViewModelInEditor">64c55194-475e-4c7d-8a22-1421f6437833</keyandvalue>
  <keyandvalue key="C:\capableobjects\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-ShownModel">72d2a42a-e742-4c7c-8d7a-8bfb78489934</keyandvalue>
  <keyandvalue key="C:\capableobjects\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-PreserveLegacyFilenames"></keyandvalue>
  <keyandvalue key="C:\capableobjects\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-ViewModelDesignerStyles">Look1</keyandvalue>
  <keyandvalue key="C:\capableobjects\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-SelectedViewModelInEditor">64c55194-475e-4c7d-8a22-1421f6437833</keyandvalue>
  <keyandvalue key="C:\capableobjects\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-CloudServer"></keyandvalue>
  <keyandvalue key="C:\capableobjects\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-CloudName"></keyandvalue>
  <keyandvalue key="C:\capableobjects\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-CloudPwd"></keyandvalue>
  <keyandvalue key="C:\capableobjects\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-BorPredServer"></keyandvalue>
  <keyandvalue key="C:\capableobjects\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-BorPredAppSlot">A2</keyandvalue>
  <keyandvalue key="C:\capableobjects\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-BorPredAutomate">FALSE</keyandvalue>
  <keyandvalue key="C:\capableobjects\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-checkBoxAutoCloudUpload">FALSE</keyandvalue>
  <keyandvalue key="C:\capableobjects\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-checkBoxAutoBorPredGo">FALSE</keyandvalue>
  <keyandvalue key="C:\capableobjects\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-ViewModelScreenSizeX">1200</keyandvalue>
  <keyandvalue key="C:\capableobjects\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-ViewModelScreenSizeY">1080</keyandvalue>
  <keyandvalue key="C:\CapableObjects\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-ShownModel">6e37317e-4777-47ef-bbc1-5d40b382ae2a</keyandvalue>
  <keyandvalue key="C:\CapableObjects\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-RunningModelPersistence"></keyandvalue>
  <keyandvalue key="C:\CapableObjects\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-RunningModel_Connstr"></keyandvalue>
  <keyandvalue key="C:\CapableObjects\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-RunningModel_PersistenceSetting">BorPred</keyandvalue>
  <keyandvalue key="C:\CapableObjects\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-BorPredServer"></keyandvalue>
  <keyandvalue key="C:\CapableObjects\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-BorPredAppSlot">A0</keyandvalue>
  <keyandvalue key="C:\CapableObjects\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-CloudServer"></keyandvalue>
  <keyandvalue key="C:\CapableObjects\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-CloudName"></keyandvalue>
  <keyandvalue key="C:\CapableObjects\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-CloudPwd"></keyandvalue>
  <keyandvalue key="C:\CapableObjects\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-BorPredAutomate">FALSE</keyandvalue>
  <keyandvalue key="C:\CapableObjects\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-checkBoxAutoCloudUpload">FALSE</keyandvalue>
  <keyandvalue key="C:\CapableObjects\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-checkBoxAutoBorPredGo">FALSE</keyandvalue>
  <keyandvalue key="C:\CapableObjects\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-ViewModelScreenSizeX"></keyandvalue>
  <keyandvalue key="C:\CapableObjects\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-ViewModelScreenSizeY"></keyandvalue>
  <keyandvalue key="C:\CapableObjectsWush\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-ShownModel">7360bec9-2c83-4ee8-947a-01b7e01062f6</keyandvalue>
  <keyandvalue key="C:\CapableObjectsWush\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-ViewModelDesignerStyles">Bubbly</keyandvalue>
  <keyandvalue key="C:\CapableObjectsWush\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-ViewModelScreenSizeX">1920</keyandvalue>
  <keyandvalue key="C:\CapableObjectsWush\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-ViewModelScreenSizeY">1080</keyandvalue>
  <keyandvalue key="C:\CapableObjectsWush\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-SelectedViewModelInEditor">64c55194-475e-4c7d-8a22-1421f6437833</keyandvalue>
  <keyandvalue key="C:\CapableObjectsWush\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-PreserveLegacyFilenames"></keyandvalue>
  <keyandvalue key="C:\CapableObjectsWush\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-CloudName"></keyandvalue>
  <keyandvalue key="C:\CapableObjectsWush\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-CloudPwd"></keyandvalue>
  <keyandvalue key="C:\CapableObjectsWush\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-CloudPwdStore">false</keyandvalue>
  <keyandvalue key="C:\CapableObjectsWush\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-BorPredServerList"></keyandvalue>
  <keyandvalue key="C:\CapableObjectsWush\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-BorPredServer"></keyandvalue>
  <keyandvalue key="C:\CapableObjectsWush\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-BorPredAppSlot"></keyandvalue>
  <keyandvalue key="C:\CapableObjectsWush\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-BorPredAutomate">FALSE</keyandvalue>
  <keyandvalue key="C:\capableobjectswush\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-ShownModel"></keyandvalue>
  <keyandvalue key="C:\capableobjectswush\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-ViewModelDesignerStyles">Bubbly</keyandvalue>
  <keyandvalue key="C:\capableobjectswush\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-ViewModelScreenSizeX">1920</keyandvalue>
  <keyandvalue key="C:\capableobjectswush\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-ViewModelScreenSizeY">1080</keyandvalue>
  <keyandvalue key="C:\capableobjectswush\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-SelectedViewModelInEditor">7b02d418-02c6-4f47-8a77-74055da31e7c</keyandvalue>
  <keyandvalue key="C:\capableobjectswush\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-PreserveLegacyFilenames"></keyandvalue>
  <keyandvalue key="C:\capableobjectswush\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-LabelOnTop"></keyandvalue>
  <keyandvalue key="C:\CapableObjectsWush\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-LabelOnTop"></keyandvalue>
  <keyandvalue key="C:\MDrivenDev\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-ShownModel">72d2a42a-e742-4c7c-8d7a-8bfb78489934</keyandvalue>
  <keyandvalue key="C:\MDrivenDev\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-LabelOnTop"></keyandvalue>
  <keyandvalue key="C:\capableobjectswush\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-CloudName">a</keyandvalue>
  <keyandvalue key="C:\capableobjectswush\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-CloudPwd">123456</keyandvalue>
  <keyandvalue key="C:\capableobjectswush\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-CloudPwdStore">true</keyandvalue>
  <keyandvalue key="C:\capableobjectswush\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-BorPredServerList"></keyandvalue>
  <keyandvalue key="C:\capableobjectswush\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-BorPredServer"></keyandvalue>
  <keyandvalue key="C:\capableobjectswush\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-ExpressionForPrototypeStart"></keyandvalue>
  <keyandvalue key="C:\capableobjectswush\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-RunningModel_TargetGroup"></keyandvalue>
  <keyandvalue key="C:\capableobjectswush\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-LocalTurnkeyFileRoot"></keyandvalue>
  <keyandvalue key="C:\capableobjectswush\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-LocalTurnkeyUrl"></keyandvalue>
  <keyandvalue key="C:\capableobjectswush\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-LocalTurnkeyPort"></keyandvalue>
  <keyandvalue key="C:\capableobjectswush\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-CopyAssetsTKOnStart"></keyandvalue>
  <keyandvalue key="C:\capableobjectswush\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-RunningModelPersistence"></keyandvalue>
  <keyandvalue key="C:\capableobjectswush\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-RunningModel_Connstr"></keyandvalue>
  <keyandvalue key="C:\capableobjectswush\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-RunningModel_ConnstrSQLite"></keyandvalue>
  <keyandvalue key="C:\capableobjectswush\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-RunningModel_ConnstrSQLCompact"></keyandvalue>
  <keyandvalue key="C:\capableobjectswush\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-RunningModel_ConnstrVistaDB">Data Source=c:\capableobjectswush\source\AppCompleteGenericCore\AppCompleteGenericCore\App_Data\DatabaseVistaDB.vdb6</keyandvalue>
  <keyandvalue key="C:\capableobjectswush\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-RunningModel_MultiTenantPrefix">admin_</keyandvalue>
  <keyandvalue key="C:\capableobjectswush\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-RunningModel_PersistenceSetting">VistaDB</keyandvalue>
  <keyandvalue key="C:\capableobjectswush\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-SQLPersistenceMapping">mdrivenserver</keyandvalue>
  <keyandvalue key="C:\capableobjectswush\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-DebuggerOcl">ocl: ACApplicationVersion.sqlpassthroughobjects( 'select * from admin_ACApplicationVersion' )

ps: ACApplication.allinstances.ACApplicationVersion

ocl: ACApplicationVersion.allinstances

ocl: ACApplicationVersion.sqlpassthrough( 'select admin_ACApplicationVersionId from admin_ACApplicationVersion',Integer )

</keyandvalue>
  <keyandvalue key="C:\capableobjectswush\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-DebuggerVars"></keyandvalue>
  <keyandvalue key="C:\capableobjectswush\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-SQLUseVersion"></keyandvalue>
  <keyandvalue key="C:\MDrivenDev\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-ViewModelScreenSizeX">1920</keyandvalue>
  <keyandvalue key="C:\MDrivenDev\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-ViewModelScreenSizeY">1080</keyandvalue>
  <keyandvalue key="C:\MDrivenDev\source\AppCompleteGeneric\AppCompleteGeneric.Model\AppCompleteGeneric.ecomdl-SelectedViewModelInEditor">ffc52954-7c30-49d9-914e-86c1033e2d0e</keyandvalue>
  <keyandvalue key="C:/CapableObjectsWush/source/AppCompleteGeneric/AppCompleteGeneric.Model/AppCompleteGeneric.ecomdl-ShownModel"></keyandvalue>
  <keyandvalue key="C:/Users/hans/source/repos/supportMDriven/Samples/WebApiServerAndClient/AppCompleteGeneric.Model/AppCompleteGeneric.ecomdl-ShownModel">72d2a42a-e742-4c7c-8d7a-8bfb78489934</keyandvalue>
  <keyandvalue key="C:/Users/hans/source/repos/supportMDriven/Samples/WebApiServerAndClient/AppCompleteGeneric.Model/AppCompleteGeneric.ecomdl-LabelOnTop"></keyandvalue>
  <keyandvalue key="C:/Users/hans/source/repos/supportMDriven/Samples/WebApiServerAndClient/AppCompleteGeneric.Model/MyModel.ecomdl-ShownModel">9c9eec97-d41d-4d8d-8bb8-446e6b601eb0</keyandvalue>
  <keyandvalue key="C:/Users/hans/source/repos/supportMDriven/Samples/WebApiServerAndClient/AppCompleteGeneric.Model/MyModel.ecomdl-LabelOnTop"></keyandvalue>
  <keyandvalue key="C:/Users/hans/source/repos/supportMDriven/Samples/WebApiServerAndClient/AppCompleteGeneric.Model/MyModel.ecomdl-BorPredServer"></keyandvalue>
</configs>